{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if measures %}
<div  class="map" id = "map" style = "width: 90%; height:580px; margin-left: 4.5%; margin-bottom: 2%;"></div>
      <script>
        var MarkerIcon = L.Icon.extend({
            options: {
                customId: "",
                iconSize: [38, 95],
                iconAnchor: [22, 94],
                popupAnchor: [-3, -76]
            }
        }) 

        var red = new MarkerIcon({iconUrl: '{% static 'attach/loc-red.svg' %}'});
            yel = new MarkerIcon({iconUrl: '{% static 'attach/loc-yel.svg' %}'});
            blue = new MarkerIcon({iconUrl: '{% static 'attach/loc-bl.svg' %}'});
            gr = new MarkerIcon({iconUrl: '{% static 'attach/loc-gr.svg' %}'});
            pp = new MarkerIcon({iconUrl: '{% static 'attach/loc-pp.svg' %}'});

         // Creating map options
         var mapOptions = {
            center: [59.9386, 30.3141],
            zoom: 12
         }
         // Creating a map object
         var map = new L.map('map', mapOptions);
         
         // Creating a Layer object
         var layer = new L.TileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
    	attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ',
	    maxZoom: 16
        });
         
         // Adding layer to the map
         map.addLayer(layer);
         
         // Creating a marker
        {% for coord in place_list %}
          //  {% for measure in measures%}
            //    if ({{measure.location.id}} == {{coord.id}})
              //      var noize += {{measure.Nlevel}};
                //    var count += 1;
           // noize = noize/count;
           // var color = Color(noize);
           // alert(color)
            var marker = L.marker([{{coord.lat}},{{coord.lon}}], {customId:{{coord.id}}, icon:blue}).addTo(map).bindPopup('{{coord.lat}},{{coord.lon}}').on('click', markerOnClick);
        {% endfor %}
        //{% endfor %}

        function Color (noize) {
            if (noize <= 40){
                return 'gr';}
            else if (noize >40 && noize <=50){
                return 'yel';}
            else if (noize >50 && noize <=60){
                return 'blue';
            }
            else {
                return 'red'
            }
        }

        let form = document.forms.MeasureForm
        let elem = form.elements.location
        function markerOnClick(e) {
            var customId = this.options.customId;
            elem.value = customId
        } 

        function Show(btn) {
            var cord = btn.value;
            {% for coord in place_list%}
                var coord = {{coord.id}}
                if (cord == coord)
                    var marker = L.marker([{{coord.lat}},{{coord.lon}}], {customId:{{coord.id}}, icon:pp}).addTo(map).bindPopup('{{coord.lat}},{{coord.lon}}').on('click', markerOnClick)
                    var top = Math.max(document.body.scrollTop,document.documentElement.scrollTop);
                    if(top > 0) {
                        window.scrollBy(0,-100);
                         timeOut = setTimeout('goUp()',20);
                    } else clearTimeout(timeOut);
            {% endfor %}  
        } 
         
      </script>

      <div class="d-flex justify-content-center">
    <div class="log-btn" style="width: 200px; margin-bottom: 3%;">
      <a href="{% url 'noizedb:Stats' %}">Оценочная статистика</a>
    </div>
  </div>
<h2 style="color: rgb(42, 66, 66);text-align: center;">Статистика измерений</h2>
<div class="table-responsive container-fluid" style="margin-top: 2%;">
    <table class="table-hover">
        <tbody>
            <tr>
                <th>Эквивалентный <br> уровень шума</th>
                <th>Максимальный <br> уровень шума</th>
                <th>Происхождение</th>
                <th>Характер</th>
                <th>Геолокация</th>
                <th>Дата</th>
                <th>Время</th>
            </tr>
            {% for measure in measures %}
            <tr>
                <td>{{ measure.Nlevel }} дБ</td>
                <td>{{ measure.MNlevel }} дБ</td>
                <td>{{ measure.From.FromParam }}</td>
                <td>{{ measure.Chark.CharkParam }}</td>
                <td>{{ measure.location }} <br> <button onclick="Show(this)" value="{{ measure.location.id }}">Показать на карте</button></td>
                
                <td>{{ measure.Date }}</td>
                <td>{{ measure.Time }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% else %}
<h2 style="text-align: center;">Данные об измерениях отсутствуют</h2>
{% endif %}
{% endblock content %}
<!-- <form action="{% url 'noizedb:SubmitForm' %}" method="POST" name="MeasureForm" autocomplete="off"> 
    {% csrf_token %}
    <div class="d-flex justify-content-center">
        <div class="d-flex" style="width: 75%;margin-left: 5%;">
            <div class="col-md-5">
                <p class="field-name">Эквивалентный уровень шума:</p>
                <p class="field-name second">Максимальный уровень шума:</p>
                <p class="field-name second">Происхождение шума:</p>
                <p class="field-name second">Характер источника шума:</p>
            </div>
            <div class="col-md-7">
                <div class="d-flex  justify-content-center">
                    <input  class="field" name="Nlevel" id="noize-level" placeholder=" дБ">
                </div>
                <div class="d-flex  justify-content-center">
                    <input  class="field" name="MNlevel" placeholder=" дБ">
                </div>
                <div class="d-flex  justify-content-center">
                    <select class="field" name="From">
                        <option value="1">Автодорожный</option>
                        <option value="2">Воздушный</option>
                        <option value="3">Железнодорожный</option>
                        <option value="4">Промышленный</option>
                        <option value="5">Бытовой</option>
                    </select>
                </div>
                <div class="d-flex  justify-content-center">
                    <select class="field" name="Chark">
                        <option value="1">С импульсным шумом</option>
                        <option value="2">С преобалданием тонов</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <input name="location" id="location" type="hidden">
    </div>
    {% if place_list %}
        <div  class="map" id = "map" style = "width: 70%; height:580px; margin-left: 14%; margin-top: 3%; margin-bottom: 3%;"></div>
      <script>
        var MarkerIcon = L.Icon.extend({
            options: {
                customId: "",
                iconSize: [38, 95],
                iconAnchor: [22, 94],
                popupAnchor: [-3, -76]
            }
        }) 
        
        var gr = new MarkerIcon({iconUrl: '{% static 'attach/loc-gr.svg' %}'});
         // Creating map options
         var mapOptions = {
            center: [59.9386, 30.3141],
            zoom: 12
         }
         // Creating a map object
         var map = new L.map('map', mapOptions);
         
         // Creating a Layer object
         var layer = new L.TileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
    	attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ',
	    maxZoom: 16
        });
         
         // Adding layer to the map
         map.addLayer(layer);
         
         // Creating a marker
        {% for coordinate in place_list %}
            var marker = L.marker([{{coordinate.lat}},{{coordinate.lon}}], {customId:{{coordinate.id}}, icon:gr}).addTo(map).bindPopup('Выбрать').on('click', markerOnClick);
        {% endfor %}

        let form = document.forms.MeasureForm
        let elem = form.elements.location
        function markerOnClick(e) {
            var customId = this.options.customId;
            elem.value = customId
        } 
         
      </script>

{% else %}
                    <div class="d-flex justify-content-center">
                        <h3>Что-то не так! Куда пропали координаты!?</h3>
                    </div>
{% endif %}
    <div class="d-flex justify-content-center">
    <button type="submit" class="log-btn">Внести</button>
    </div>
</form> -->
